# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\GitHub\ScarSchool\POS\KOTLIN\Gstohlen\Des vom slu\Kotlin_Wirtschaftstag\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
